<main>
  <section id="section-banner">
    <div
      id="carouselExampleAutoplaying"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="./assets/img/banner1.png"
            class="d-block w-100"
            alt="jogo1"
          />
        </div>
        <div class="carousel-item">
          <img
            src="./assets/img/banner2.png"
            class="d-block w-100"
            alt="jogo2"
          />
        </div>
        <div class="carousel-item">
          <img
            src="./assets/img/banner3.png"
            class="d-block w-100"
            alt="jogo3"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <h2>Jogos em Destaques</h2>

  <mat-grid-list cols="3">
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/jogo1.png" alt="jogo 1" />

        <mat-card-header>
          <mat-card-title>Play on</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>Jogo de ação</p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 100,00</p>
          <button mat-button>COMPRAR</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/jogo2.png" alt="jogo 1" />

        <mat-card-header>
          <mat-card-title>Joao Bros</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>Jogo de plataforma</p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 200,00</p>
          <button mat-button>COMPRAR</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/jogo3.png" alt="jogo 1" />

        <mat-card-header>
          <mat-card-title>Sem controle</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>Jogo de aventura</p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 300,00</p>
          <button mat-button>COMPRAR</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</main>
